<!DOCTYPE html>
<html>
<head>
	<title>Shoes</title>
	        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	
	<header style='color: white; text-align: center; background-color: steelblue; padding: 10px 0 10px 0'><em><h1>Local shoes store and brand shoes</h1></em></header>
	
	<div class="container" style='text-align: center'>
		
		
		<h2 style="margin-top: 50px"><a href="/stores" style='margin-right: 60px'>Stores</a><a href="/brands">Brands</a></h2>

	</div>

</body>
</html>