<!DOCTYPE html>
<html>
<head>
	<title>Shoes</title>
	        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	
	<header style='color: white; text-align: center; background-color: steelblue; padding: 10px 0 10px 0'><em><h1>Local shoes store and brand shoes</h1></em></header>
	
	<div class="container" style='text-align: center'>
		<!-- <div class="jumbotron"> -->

	  		<!-- <img src="/../img/shoes.jpg" class="losange-jumbotron"> -->
	  			<h2 style="margin-top: 150px"><a href="/stores" style='margin-right: 60px; border: dashed 3px steelblue; padding: 20px; border-radius: 10%'>Stores</a><a href="/brands" style="border: dashed 3px steelblue; padding: 20px; border-radius: 10%">Brands</a></h2>

		<!-- </div> -->
		
	</div>

</body>
</html>